image: ruby:3.1

before_script:
  - apt-get update -y
  - apt-get install -y python3 python3-pip

stages:
  - deploy

deploy:
  stage: deploy
  script:
    - python3 -m venv venv
    - source venv/bin/activate
    - pip3 install -r requirements.txt
    - python3 dags/extract_email_dag.py
  only:
    - main
